[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[packages]
click = "*"
configparser = "*"
click-completion = "*"
requests = "*"
terminaltables = "*"
pyyaml = "*"
jinja2 = "*"
dictdiffer = "*"
jmespath = "*"
aiohttp = "*"
pytimeparse = "*"
termgraph = "*"

[requires]
python_version = "3.7"
