click==8.1.1
configparser==5.2.0
requests==2.27.1
click-completion==0.5.2
terminaltables==3.1.10
pyyaml==6.0
jinja2==3.1.1
dictdiffer==0.9.0
jmespath==1.0.0
asyncio==3.4.3
pytimeparse==1.1.8
termgraph==0.5.3
jsonschema==4.4.0
jsonpath-ng==1.5.3
