version: {{ Values.version}}
name: {{ Values.name}}
description: {{ Values.description}}
visibility: private
proxy:
  strip_context_path: false
  preserve_host: false
  virtual_hosts:
    - path: {{ Values.context_path}}
  groups:
    - name: default-group
      endpoints:
      {%- for endpoint in Values.endpoints %}
        - name: default-{{ loop.index }}
          target: {{ endpoint}}
          weight: 1
          backup: false
          type: HTTP
          inherit: true
      {% endfor -%}
      load_balancing:
        type: ROUND_ROBIN
      http: {{ Http | toyaml}}
paths:
  "/": []
resources: []
path_mappings: []
response_templates: {}
plans:
{%- for plan in Values.plans %}
  - name: {{ plan.name}}
    description: {{ plan.description}}
    validation: {{ plan.validation | default("auto")}}
    security: {{ plan.security}}
    type: api
    status: {{ plan.status | default("published")}}
    order: {{loop.index}}
    paths:
      "/": []
    comment_required: False
    characteristics: []
{% endfor -%}


